.post_content {
  a.rtBibleRef {
    break-inside: avoid;
    display: inline-block;
  }

  ol, p, ul {
    font-weight: 300;
    font-size: 1rem;
    @apply font-serif leading-7 tracking-wide my-4;
  }

  p:empty {
    @apply my-0;
  }

  a {
    @apply text-secondary underline;
    &:hover {
      @apply text-primary;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans py-4 mt-4 font-semibold text-slate-dark leading-tight;
  }

  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }

  @screen md {
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 1.6rem;
    }
    h5 {
      font-size: 1.4rem;
    }
    h6 {
      font-size: 1.2rem;
    }

    div, ol, p, ul {
      font-size: 1.125rem;
      line-height: 2rem;
    }
  }

  table {
    margin: 1rem 0;

    tr:nth-child(odd) {
      background: #ECEFF1;
    }
    tr:nth-child(even) {
      background: #F5F5F5;
    }
    td {
      padding: 4px;
      border-right: 1px solid white;

      p {
        @apply font-sans leading-5 my-0;
      }
    }
  }

}

.post_content, .ProseMirror {
  >blockquote {
    margin: 2.4em auto;
    >p {
      @apply text-4xl block font-sans text-center;

      @screen md {
        @apply text-6xl;
      }
    }
  }
  >figure, >.figure {
    img {
      width: 100%;
    }
  }

  >ol {
    list-style: decimal;
    li {
      @apply pl-6 my-4;
    }
  }

  >ul {
    list-style: none;
    li {
      @apply pl-6 my-4;
      &::before {
        content: "▪️";
        float: left;
        width: 1em;
        margin-top: 0.2em;
        margin-left: -1.5em;
      }
    }
  }
}
