src/strings.json
src/strings/*.json

src/assets/icons/logo.svg

*.log
.cache
.DS_Store
src/.temp
node_modules
yarn.lock
dist
.env
.env.*
!.env.example

.idea
.vscode

.now
.vercel

static/assets
static/manifest.json
static/service-worker.js
